# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
Bin
bin
obj
sql

#Symbols

# mstest test results
TestResults


# Visual Studio specific and Resharper
_resharper*
*.resharper
*.suo
*.user
.*.swp
*.scc 
*.vssscc 
*.vspscc 
*.o 
*.lo 
*.la 
*.al 
*.libs 
*.so 
*.so.[0-9]*
*.dbmdl
*.dbproj.schemaview

#Mac specific
.DS_Store
*.DS_Store

